<!DOCTYPE html>
<html lang = 'en'>

	<head>
		<meta charset = "utf-8">
		<link rel="stylesheet" href="static/css/style.css">
		<title> Blogster Flask </title>
	</head>

	<body>
		
			<!--{% block main %} -->
			<h1> MYSELF </h1>
<h2> Who Am I? </h2>
<img src="static/img/pic.png" style="left:right; width:150px; height:150px;">
<p> Hi!!! Am Blogster Moses, a passionate and professional website developer. I base in Lagos state Nigeria.</p>

<h1> My Hobbies </h1>
<p> Primarily, I love engaging myself with myy gadgets (laptop and mobile) <br />
Most of the things I find myself doing most includes: <br / >

<ul> 
	<li> Writing codes </li>
	<li> Making Researches about my career </li>
	<li> Meeting new clients </li>
	<li> Solving Problems related to what I know </li>
</ul>
and many more

	


			<!--{% endblock main %} -->
		
	</body>
	</html>